@charset "utf-8";

body {
	width: 100%;
	height: 100%;
	background: url('../../images/bg.png') no-repeat;
	background-size: cover;
	overflow: hidden;
}

#app{
  width:100%;
  height:100%;
}

.head-ban {
	width: 100%;
	height: 50px;
	border: 1px solid #666;
	.ban-content {
		width: 1200px;
		height: 100%;
		margin: 0 auto;
		ul {
			float: right;
			width: 200px;
			height: 100%;
			display: flex;
			li {
				float: left;
				height: 100%;
				line-height: 44px;
				flex: 1;
				text-align: center;
				color: #666;
				font-size: 14px;
				position: relative;

				* {
					vertical-align: middle;
				}
				.group-icon {
					width: 25px;
					height: 25px;
					vertical-align: middle;
				}

				.tooltip {
					width: 70px;
					height: 20px;
					line-height: 20px;
					border: 1px solid #CFB57C;
					background: #FBF5E6;
					border-radius: 4px;
					position: absolute;
					top: 30px;
					left: 0;
					z-index: 10;
					font-size: 12px;
					text-align: center;
				}
			}
		}
	}
}
